/* TYPOGRAPHY */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 6rem;
    font-weight: 900;
}
/* h3{
    font-size: 2rem;
    font-weight: 600;
}

p, ul, li {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
}
p{
    margin: 0;
    padding: 0;
}

/* COLORS */



/* NAVBAR */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.rwd-img{
    width: 100%;
    height: auto;
}
.left-nav{
    margin: 1rem;
}
.left-nav img{
    max-width: 100px;
    max-height: 100px;
}
.right-nav{
    display: flex;
    margin-right: 1rem;
    align-items: flex-end;
}

.right-nav p{
    font-weight: 500;
    margin: 1rem;
}
.right-nav p:hover{
    color: slategray;
    border-bottom: solid lightgray 2px;
}

/* BODY  */
.hero{
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 6.5rem 4rem;
    justify-content: space-between;
    align-items: flex-end;
}
.left-hero h1{
    margin-top: 16rem;
}
.left-hero p{
    font-size: 24px;
    margin-top: 1rem;
}
.left-hero img{
    margin-top: 4rem;
    max-width: 191px;
    max-height: 66px;
    min-height: 44px;
    min-width: 127px;
    transition: all .2s ease-in-out;
    /* box-shadow: 3px 1px 8px rgba( 0, 0, 0, 0.25);  --this image has a border round it, need a better one--*/
}
.left-hero img:hover{
    transform: scale(1.05);
}
.right-hero{
    max-width: 44rem;

}

.strip1{
    /* background-image: ;    replace bg-color with grey image from hi-fi
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: lightgray;
    padding: 8.5rem 0;
}
.strip1-h3{
    text-align: center;
    margin-bottom: 3rem;
}
.strip1-p{
    max-width: 734px;
    margin: 0 auto;
}
.strip1-p p{
    line-height: 135%;
    margin-top: 1rem;
}

.strip2{
    display: flex;
    flex-wrap: wrap;
    background-color: whitesmoke;
    /* background-image: ;    replace bg-color with grey image from hi-fi
    background-repeat: no-repeat;
    background-size: cover; */
}
/* .left-strip img{   
    there's 4px of space here and it's annoying. I think it's b/c image is that height so when actual image, make big so it can grow
} */

.right-strip{
    margin: 6.5rem 0 6.5rem;
}
.right-strip ul{
    margin-top: 1.5rem;
}
.right-strip li{
    padding: 0.5rem 0;
}

/* .left-strip{       put image as background here so it fills space
    background-image:
} */

.strip3{
    /* background-image: ;    replace bg-color with grey image from hi-fi
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 0; 
}
.strip3 img{
    margin-top: 6.5rem;
    max-width: 72px;
    max-height: 62px;
}
.strip3 p{
    text-align: center;
    margin: 2rem 0 6.5rem;
}
footer{
    padding-top: 2rem;
} */
