html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* TYPOGRAPHY */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 6em;
    font-weight: 900;
    color: #1477AA;
}

h3{
    font-size: 2rem;
    font-weight: 600;
}

p, ul, li {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    color: #3E3E3E;
    line-height: 145%;
}

/* COLORS */

.dark-orange{
    color: #C44801;
}

.dark-blue{
    color: #1477AA;
}
.light-orange{
    color: #EF8100;
}


/* NAVBAR */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 0.25rem;
}
.rwd-img{
    width: 100%;
    height: auto;
}
.left-nav{
    margin: 1rem 2rem;
}
.left-nav img{
    max-width: 100px;
    max-height: 100px;
}
.right-nav{
    display: flex;
    margin-right: 1rem;
    align-items: flex-end;
}

.right-nav p{
    font-weight: 500;
    margin: 1rem;
    color: #1477AA;
}
.right-nav p:hover{
    color: #EF8100;
    border-bottom: solid #36B3BE 2px;
    cursor: pointer;
}

/* BODY  */
.hero{
    display: flex;
    flex-wrap: wrap;
    margin: 2rem 6.5rem 4rem;
    justify-content: space-between;
    align-items: flex-end;
}
.left-hero h1{
    margin-top: 16rem;
}
.left-hero p{
    font-size: 24px;
    margin-top: 1rem;
}
.left-hero img{
    margin-top: 4rem;
    max-width: 191px;
    max-height: 66px;
    min-height: 44px;
    min-width: 127px;
    transition: all .2s ease-in-out;
    /* box-shadow: 3px 1px 8px rgba( 0, 0, 0, 0.25);  --this image has a border round it, need a better one--*/
}
.left-hero img:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.right-hero{
    max-width: 44rem;

}
.textbox{
    background-color: white;
    border-radius: 12px;
    padding: 2rem 2rem;
    margin: 0 12.8%;
}

.strip1{
    background-image: url("../images/Diagonal-Back.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    padding: 8.5rem 0;
}
.strip1-h3{
    text-align: center;
    margin-bottom: 3rem;
}
.strip1-p{
    max-width: 734px;
    margin: 0 auto;
}

.strip2{
    display: flex;
    justify-content: space-between;
}

.right-strip{
    margin: 0 0 0 -6rem;
    padding-right: 2.5rem;
}
.right-strip h3{
    padding: 2.5rem 1.5rem 0 0;
}
.right-strip ul{
    padding: 0 1.5rem;
}
.right-strip li{
    padding: 0.25rem 0;
}
.left-strip{
    width: 60vw;
    align-self:center;
}

.strip3{
    background-image: url("../images/Diagonal-Back.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4rem 0; 
    margin-top: -0.5rem;
}

.strip3 .textbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.strip3 img{
    max-width: 72px;
    max-height: 62px;
}
.strip3 p{
    text-align: center;
    margin: 2rem 0;
    max-width: 690px;
    padding: 0 2rem;
}
#footer{
    padding-top: 3rem;
}


@media only screen and (max-width: 1024px) {
    .strip2{
        flex-wrap: wrap;
        justify-content: center;
    }
    .right-strip{
        margin: 2.5rem 0 1.5rem;
        padding: 0 2.5rem;
    }
    .left-strip{
        width:100vw;
    }


    .hero{
        flex-direction: column-reverse;
    }
    .left-hero h1{
        margin-top: 6rem;
    }
}